version: '3'

services:
  portfolio:
    container_name: zorko-portfolio
    build:
      context: .
      dockerfile: Dockerfile
    restart: always
    ports:
      - "3000:3000"
    environment:
      - NODE_ENV=production
    networks:
      - zorko-net

networks:
  zorko-net:
    external: true
